<h1 class="page-header">チャプター追加</h1>
<div class="btn-group btn-group-justified">
  <%= link_to "タイトル", new_kanri_post_path(post_type: 1, chapter_id: @chapter.id), class: "btn btn-success" %>
  <%= link_to "テキスト", new_kanri_post_path(post_type: 2, chapter_id: @chapter.id), class: "btn btn-success" %>
  <%= link_to "画像", new_kanri_post_path(post_type: 3, chapter_id: @chapter.id), class: "btn btn-success" %>
  <%= link_to "動画", new_kanri_post_path(post_type: 4, chapter_id: @chapter.id), class: "btn btn-success" %>
</div>
<h2 class="page-header">表示例</h2>
<div class="row">
  <div class="col-lg-9">
    <h1 class="text-center"><%= @chapter.title %></h1>
  </div>
  <div class="col-lg-3">
    <%= link_to "編集", kanri_lesson_path(id: @chapter.lesson) %>
  </div>
</div>
<% @posts.each do |post| %>  
  <% if post.post_type == 1 %>
  <div class="row">
    <div class="col-lg-9">
      <h2 class="page-header"><%= post.title %></h2>
    </div>
    <div class="col-lg-3">
      <%= link_to "編集", edit_kanri_post_path(post) %>
    </div>
  </div>
  <% elsif post.post_type == 2 %>
  <div class="row">
    <div class="col-lg-9">
      <%= qiita_markdown(post.body) %>
    </div>
    <div class="col-lg-3">
      <%= link_to "編集", edit_kanri_post_path(post) %>
    </div>
  </div>
  <% elsif post.post_type == 3 %>
  <div class="row">
    <div class="col-lg-9">
      <%= image_tag post.image, class:"img-responsive" %>
    </div>
    <div class="col-lg-3">
      <%= link_to "編集", edit_kanri_post_path(post) %>
    </div>
  </div>
  <% elsif post.post_type == 4 %>
  <div class="row">
    <div class="col-lg-9">
      <div class="embed-responsive embed-responsive-16by9">
        <%= raw(post.movie) %>
      </div>
    </div>
    <div class="col-lg-3">
      <%= link_to "編集", edit_kanri_post_path(post) %>
    </div>
  </div>
  <% end %>
<% end %>
