<%= form_for([:kanri, @post], html: { class: "form-horizontal" }) do |f| %>
  <%= f.hidden_field :post_type, value: params[:post_type] if params[:post_type].present? %>
  <%= f.hidden_field :post_type, value: @post.post_type if @post.post_type.present? %>
  <%= f.hidden_field :chapter_id, value: params[:chapter_id] if params[:chapter_id].present? %>
  <%= f.hidden_field :chapter_id, value: @post.chapter_id if @post.chapter_id.present? %>

  <% if @post.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @post.errors.count %>個のエラーがあります</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <fieldset>
    <div class="form-group">
      <label class="col-lg-2 control-label">表示順</label>
      <div class="col-lg-10">
       <% if @post.number.blank? %>
         <%= f.number_field :number , value: @chapter.posts.count + 1,class: "form-control" %>
       <% else %>
         <%= f.number_field :number ,class: "form-control" %>
       <% end %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">動画埋込コード</label>
      <div class="col-lg-10">
        <%= f.text_area :movie, class: "form-control" %>
      </div>
    </div>
  
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit class: "btn btn-success" %>
      </div>
    </div>
  </fieldset>
<% end %>