<ul class="breadcrumb">
	<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
		<a href="/"><span itemprop="title">Home</span></a></li>
	<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
		<a href="/lessons" class="page" itemprop="url"><span itemprop="title">レッスン一覧</span></a></li>
  	<li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
  		<a href="/lessons/<%= @lesson.id %>" class="page" itemprop="url"><span itemprop="title"><%= @lesson.title %></span></a></li>
</ul>

<h1 class="text-center">
  <%= @lesson.title %>
</h1>
<p class="lead">
  <%= @lesson.description %>
</p>

<% @chapters.each do |chapter| %>
  <h2 class="page-header"><%= chapter.title %></h2>
  <% chapter.posts.order("number").each do |post| %>
    <% if post.post_type == 1 %>
      <h3 class="h4">◆ <%= post.title %></h3>
    <% elsif post.post_type == 2 %>
      <%= qiita_markdown(post.body) %>
    <% elsif post.post_type == 3 %>
      <div>
        <%= image_tag post.image, class:"img-responsive" %>
      </div>
      <% if post.ref_url.present? %>
        出典：<%= link_to post.ref_url, post.ref_url, target: :blank %>
      <% end %>
    <% elsif post.post_type == 4 %>
      <div class="embed-responsive embed-responsive-16by9">
        <%= raw(post.movie) %>
      </div>
    <% end %>
  <% end %>
<% end %>